# Core ML
tensorflow==2.19.0
keras==3.10.0

# Data & Image Processing
numpy>=1.23,<2.0
pillow>=9.5.0

# Visualization
matplotlib>=3.7
seaborn>=0.12

# Evaluation
scikit-learn>=1.3

# App
streamlit>=1.30

# Utilities
protobuf<5
